{% extends 'base.html.twig' %}

{% block title %}
  Heroes
{% endblock %}

{% block body %}
  <main>
    <div class="px-4">
      <h1 class="text-3xl font-bold text-ow-violet my-8 text-center">All Heroes</h1>

      <!-- Heros -->
      <div class="flex flex-row flex-wrap gap-5 justify-center mt-4">
      {% for character in characters %}
      <div class="relative overflow-hidden gap-5 w-1/6 pb-4 rounded-xl bg-ow-blue drop-shadow-xl transform transition duration-300 hover:scale-110 ">
      <a href="{{ path('app_hero', { id: character.id }) }}">
    <div class="flex justify-evenly gap-6 rounded-lg p-4 text-white opacity-90"> 
        <img src="{{ asset(character.imagePath) }}" class="w-30">
        </div>
        <div class="flex flex-col text-white ml-4">
        <p class="text-2xl font-bold">{{character.name}}</p>
        <p class="">{{character.name}}</p>
      </div>
      
  </div>
    {% endfor %}
    </div>
  </main>
{% endblock %}
