{% extends 'base.html.twig' %}

{% block title %}
  Hero
{% endblock %}

{% block body %}
    <main>
    <h1>{{ character.name }}</h1>

  {# <p>
    <a href="{{ path('article_edit', { id: article.id }) }}">ÉDITER</a>
  </p> #}

  <p>
    <a href="{{ path('app_heroes') }}">Retour à la liste</a>
  </p>
    </main>
{% endblock %}