{% extends 'base.html.twig' %}

{% block title %}
  Heroes
{% endblock %}

{% block body %}
  <main>
    <div class="px-4">
      <h1 class="text-3xl font-bold text-ow-violet my-8 text-center">All Heroes</h1>

      <!-- Je vais mettre des filtres ici pour faciliter la navigation -->
      <div class="bg-ow-blue text-white p-4 flex justify-center flex-col rounded-sm mb-8 w-32">
        <div class=" gap-4">
          <button class="px-4 py-2 bg-ow-violet rounded hover:bg-opacity-90">All</button>
          <a href="" class="px-4 py-2 hover:bg-ow-violet rounded">Tank</a>
          <button class="px-4 py-2 hover:bg-ow-violet rounded">Damage</button>
          <button class="px-4 py-2 hover:bg-ow-violet rounded">Support</button>
        </div>
      </div>

      <!-- Heros -->
        <div class="">
        {% for character in characters %}
          <div class=""
            <a href="{{ path('app_hero', { id: character.id }) }}">
          </div>
          <div>
          <img src="{{ asset(character.imagePath) }}" alt="{{character.name}}" class="w-full h-full object-cover" />
          </div>
            <h3 class="">{{character.name}}</h3>
            <p class=""></p>
        </div>
        {% endfor %}
  </main>
{% endblock %}
