{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<main>
    <div class="flex items-center justify-center my-20">
      <div class="bg-ow-blue border-[4px] w-1/4 border-ow-blue rounded-2xl hover:border-ow-blue transition-all duration-200">
        <div class="mx-auto flex items-center space-y-4 py-10 px-12 font-semibold text-gray-500 flex-col"> 
          <h1 class="text-white text-2xl">Sign in!</h1>
            <div class="flex items-center justify-center">
              <form method="POST" action="{{ path('app_login') }}">
                <label for="_username" class="text-ow-white">Email</label>
                <input type="email" name="_username" id="username" class="w-full my-4 p-2 bg-ow-input rounded-md border border-gray-700 focus:border-ow-input hover:border-ow-input transition-all duration-200"/>
                <label for="password" class="text-ow-white">Password</label>
                <input type="password" name="_password" id="password" class="w-full my-4 p-2 bg-ow-input rounded-md border border-ow-input focus:border-ow-input hover:border-ow-input transition-all duration-200"/>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                <button type="submit" class="w-full my-2 p-2 bg-gray-50 rounded-full font-bold text-gray-900 border-[4px] transition-all duration-200"> Sign In </button>
                <p class="my-4">
                  Don't have an account?
                  <a href=" {{path('app_register')}} " class="font-semibold text-ow-pink hover:text-ow-white transition-all duration-200">Sign up</a>
                </p>
              </form>
        </div>
      </div>
    </div>
</main>
{% endblock %}
