{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<main>
<main class="bg-white min-h-screen py-12">
  <div class="container mx-auto px-4 max-w-2xl">
    <h1 class="text-3xl font-bold text-ow-pink mb-8 text-center">Contact-us</h1>
    
      <div>{{ form(contactForm) }}</div>
  </div>
</main>
{% endblock %}
