{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<main class="bg-white py-12">
  <div class="container w-2/5 p-9 mx-auto my-6 rounded-lg bg-ow-blue">
    <h1 class="text-3xl font-bold text-ow-pink mb-8 text-center">Contact-us</h1>
      <div>{{ form(contactForm) }}</div>
  </div>
</main>
{% endblock %}
