{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
<main class="bg-white">
  <div class="text-black py-16">
    <div class="container mx-auto px-4">
      <h1 class="text-5xl font-bold text-center">Welcome on Overhub</h1>
      <h3 class="mt-4 text-3xl text-center">Your Ultimate Overwatch Heroes Companion</h3>
      <p>OverHub is the destination for Overwatch enthusiasts looking to master the game's diverse roster of heroes. Whether you're a battle-hardened veteran or just stepping into the world of Overwatch for the first time, our comprehensive hero guides, role breakdowns, and strategic insights will help elevate your gameplay to new heights. 
         Dive deep into detailed hero profiles, discover powerful ultimate usages combinations. From the lightning-fast reflexes of Tracer to the tactical shield deployments of Reinhardt, OverHub covers every aspect of Overwatch's unique and dynamic cast of characters.</p>
      <button class="mt-6 bg-ow-pink hover:bg-opacity-90 text-white px-6 py-2 rounded-md">
      </button>
    </div>
  </div>
</main>


{% endblock %}
