<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/overhub_logo_customers.svg') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    <header>{{ include('nav.html.twig') }}</header>
    {% for message in app.flashes('success') %}
      <div class="bg-zinc-300 text-black px-6 py-4">{{ message }}</div>
    {% endfor %}
        {% block body %}{% endblock %}
    </body>
</html>
