<footer class="bg-ow-maroon text-ow-white mt-8">
  <div class="container mx-auto px-4">
  <div class="py-8 px-6 text-center">
        <p>&copy; My Website. All rights reserved.</p>
        <ul class="social-media">
            <li><a href="https://github.com/agathism" target="_blank">GitHub</a></li>
        </ul>
    </div>
    <!-- Contenu du footer -->
    {# <a href="#" class="text-ow-light-gray hover:text-ow-pink">Mentions légales</a> #}
  </div>
</footer>