<footer class="bg-ow-blue text-ow-white mt-8">
  <div class="container mx-auto px-4 flex flex-col">
    <div class="py-2 px-6 text-center flex flex-row justify-evenly items-center">
        <div>
          <img src="{{ asset('images/overwatch_logo_with_text_large.svg') }}" alt="Logo Overhub" class="w-22 h-20">
        </div>
        <div class="flex flex-row items-center gap-1">
          <img src="{{ asset('images/icons8-github96.svg') }}" class="w-10 h-8">
          <a href="https://github.com/agathism" target="_blank" class="text-xl hover:text-ow-pink transition-colors">GitHub</a>
      </div>
      <span class="text-center my-6">
      <p class="text-zinc-300">&copy; Overhub 2025.</p>
    </span>
  </div>
</footer>