<nav class=" text-black flex justify-center mb-0 my-4 sm:flex-row">
  <ul class="flex justify-center text-xl">
    <li class="list-none">
      <a class=" translate-all block py-4 px-5 list-none" href="{{path('homepage')}}">Home</a>
    </li>
    <li class="list-none">
      <a class=" translate-all block py-4 px-5 list-none" href="{{path('app_heroes')}}">Home</a>
    </li>
    <li class="list-none">
      <a class=" translate-all block py-4 px-5 list-none" href="{{path('app_contact')}}">Home</a>
    </li>
    <li class="list-none">
      <a class=" translate-all block py-4 px-5 list-none" href="{{path('app_login')}}">Home</a>
    </li>
</nav>