<nav class=" text-black flex justify-center mb-0 my-4 sm:flex-row">
  <ul class="flex justify-center text-xl">
    <li class="list-none">
      <a class="hover:bg-zinc-200 translate-all block py-4 px-5 list-none" href="{{path('homepage')}}">Home</a>
    </li>
</nav>